* {
  margin: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  color: #ccc;
  font-family: Helvetica, sans-serif;
  background-color: #000;
  display: flex;
  align-items: center;
}

#clock {
  width: 100%;
  font-weight: 900;
}

#time {
  font-size: 20vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.separator {
  font-size: 15vw;
  position: relative;
  bottom: 1vw;
}

#date {
  width: 100%;
  font-size: 5vw;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
}
